.wrapper {
    width: 60%;
    margin: auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffde7;
}

.header {
    background-color: #ffeb3b;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #fbc02d;
    border-radius: 30px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #6a4f4b;
}

.header h2 {
    margin: 0;
    font-size: 20px;
    background-color: #fff176;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
}

.navegador {
    display: flex;
    justify-content: center;
    background-color: #fff9c4;
    padding: 10px;
}

.navegador a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #ffeb3b; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #6a4f4b;
}

.navegador a:hover {
    background-color: #fbc02d; 
    color: #fff;
}

.seccionPrincipal {
    text-align: center;
    margin: 20px;
    border: #fbc02d solid 1px;
}

.seccionBienvenida {
    background-color: #fdd835;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.welcome-box {
    background-color: #fffde7; 
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-box {
    margin: 20px auto;
    text-align: center;
}

.image-box img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.footer {
    background-color: #fff9c4;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #fbc02d;
    font-size: 14px;
    color: #6a4f4b;
    border-radius: 30px;
}

.registro {
    background-color: #fffde7;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.registro label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #6a4f4b;
}

.registro input,
.registro select {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #fbc02d;
    border-radius: 5px;
}

.registro fieldset {
    border: 1px solid #fbc02d;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.registro legend {
    font-weight: bold;
    color: #6a4f4b;
}

.registro .form-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.registro button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.registro button[type="submit"] {
    background-color: #ffeb3b; 
    color: #6a4f4b;
}

.registro button[type="reset"] {
    background-color: #fbc02d; 
    color: #fff;
}

.registro button:hover {
    opacity: 0.8;
}

.gatito {
    width: 30%;
}

#registros p {
    display: flex;
    align-items: center;
    gap: 10px; 
    color: #fbc02d;
}

#registros span {
    margin-left: 5px; 
    color: #6a4f4b;
}

#registros img {
    width: 50%;
}
